#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #baa2b6;
}

#tribute-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-div {
    background-color: white;
    padding: 1%;
}

#image {
    max-width: 100%;
    height: auto;
    display: block;
}

#img-caption {
    margin: 5px;
}

h1, h2 {
    font-family: Garamond;
    text-align: center;
}

p {
    font-family: Georgia, serif;
}

ul {
    width: 50%;
    margin: auto;
}

ul li, figcaption {
    font-family:'Courier New', Courier, monospace;
}

ul li::marker {
    color: white;
    font-size: 1.5em;
  }